<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>广告管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    
    <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">

	<script type="text/javascript">
      	
      	var category_url = "http://localhost:8083/ContentCategory/"
		var base_url = "http://localhost:8083/ContentController/";
		var app = angular.module('contentApp',['pagination']);
		
		
		app.controller('contentController',function($scope,$http){
			
			$scope.findAll = function(){
				$http.get(base_url+'findAll').success(function(response){
					$scope.contentList = response;
				});
			}
			
			$scope.paginationConf = {
				currentPage : 1,
				totalItems : 5,
				itemsPerPage : 5,
				perPageOptions : [2,5,10,20,30,40,50],
				onChange : function() {
					$scope.reloadList();
				}
			};
			$scope.reloadList = function() {
				$scope.findByPage($scope.paginationConf.currentPage,$scope.paginationConf.itemsPerPage);
			}
			$scope.findByPage = function(page_no,page_size){
				$http.get(base_url+'findPage?page='+page_no+'&rows='+page_size).success(function(response){
					$scope.contentList = response.rows;
					$scope.paginationConf.totalItems = response.total;
					
				});
			}
			
			// 查询所有广告分类
			$scope.findContentCategoryList = function(){
				$http.get(category_url+'findAll').success(function(response){
					$scope.contentCategoryList = response;
				});
			}
				
			$scope.save = function(){
					var methodName = "add";
					//判断添加或修改操作
					if($scope.entity.id != null) { //修改
						methodName = "update";
					}
					$http.post(base_url + methodName,$scope.entity).success(function(response){
						if(response.success==true) {
							window.location.reload();
							//$scope.findAllBrand(); //重新加载最新的数据
						} else {
							alert('操作失败');
						}
					});
				
			}	
			
			// 文件上传的方法:
			$scope.uploadFile = function(){
				// 向后台传递数据:
				var formData = new FormData();
				// 向formData中添加数据:
				formData.append("file",file.files[0]);
				
				$http({
					method:'post',
					url:'http://localhost:8083/uploadFile',
					data:formData,
					headers:{'Content-Type':undefined} ,// Content-Type : text/html  text/plain
					transformRequest: angular.identity
				}).success(function(response){
					if(response.success){
						$scope.entity.pic = response.message;
					}else{
						alert(response.message);
					}
				});
			}
			
			$scope.selectedIds = [];
			$scope.dele = function() {
				alert($scope.selectedIds);
				
				if(confirm('你确定要删除该新闻信息吗？')) {
					$http.get(base_url + 'delete?ids='+$scope.selectedIds).success(function(response){
						if(response.success==true) {
							window.location.reload();
							//$scope.findAllBrand(); //重新加载最新的数据
						} else {
							alert('操作失败');
						}					
					});						
				}
			}
			$scope.selectionUpdate = function(content_id,$event){
				if(event.target.checked){
					$scope.selectedIds.push(content_id);
				}else{
					var index = $scope.selectedIds.indexOf(content_id);
					$scope.selectedIds.splice(index,1);
				}
				
			}
				
			$scope.findOne = function(content_id) {
				$http.get(base_url + 'findOne?id=' + content_id).success(function(response){
					$scope.entity = response;
				});
			}
				
				
			$scope.status = ["无效","有效"];
		});
	</script>
	
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="contentApp" ng-controller="contentController" ng-init="findContentCategoryList()">
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">广告管理</h3>
                    </div>
                    
                    <div class="box-body">
                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="开启" onclick='confirm("你确认要开启吗？")'><i class="fa fa-check"></i> 开启</button>
                                        <button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i class="fa fa-ban"></i> 屏蔽</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							                                  
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">广告ID</th>
									      <th class="sorting">分类ID</th>
									      <th class="sorting">标题</th>
									      <th class="sorting">URL</th>		
									      <th class="sorting">图片</th>	
									      <th class="sorting">排序</th>		
									      <th class="sorting">是否有效</th>											     						      							
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                      	<tr ng-repeat="content in contentList">
			                      		<td><input type="checkbox" ng-click="selectionUpdate(content.id,$event)"  />  </td>
			                      		<td>{{content.id}}</td>
			                      		<td>{{content.categoryId}}</td>
			                      		<td>{{content.title}}</td>
			                      		<td>{{content.url}}</td>
			                      		<td><img src="{{content.pic}}" width="100" height="50"></td>
			                      		<td>{{content.sortOrder}}</td>
			                      		<td>{{status[content.status]}}</td>
			                      		<td class="text-center">
			                      			<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" 
			                      				data-target="#editModal" ng-click="findOne(content.id)">修改</button>                
			                      		</td>
			                      	</tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/--> 
			                  <tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->

		
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">广告编辑</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
				<tr>
		      		<td>广告分类</td>
		      		<td>
		      			<select class="form-control" ng-model="entity.categoryId" ng-options="item.id as item.name for item in contentCategoryList"></select>
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>标题</td>
		      		<td><input  class="form-control" ng-model="entity.title" placeholder="标题" >  </td>
		      	</tr>
			    <tr>
		      		<td>URL</td>
		      		<td><input  class="form-control" ng-model="entity.url" placeholder="URL" >  </td>
		      	</tr>	
		      	<tr>
		      		<td>排序</td>
		      		<td><input  class="form-control" ng-model="entity.sortOrder" placeholder="排序" >  </td>
		      	</tr>			      	
		      	<tr>
		      		<td>广告图片</td>
		      		<td>
						<table>
							<tr>
								<td>
								<input type="file" id="file" />				                
					                <button class="btn btn-primary" type="button" ng-click="uploadFile()">
				                   		上传
					                </button>	
					            </td>
								<td>
									<img  src="{{entity.pic}}" width="200px" height="100px">
								</td>
							</tr>						
						</table>
		      		</td>
		      	</tr>	  
		      	<tr>
		      		<td>是否有效</td>
		      		<td>
		      		   <input type="checkbox" ng-model="entity.status" ng-true-value="1" ng-false-value="0" class="icheckbox_square-blue"  >
		      		</td>
		      	</tr>  	
			 </table>				
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>

</body>

</html>